body{
    background: paleturquoise;
    font-family:Arial, Helvetica, sans-serif;
}
.assignment{
    display:flex;
    padding:10px;
    margin:10px;
    background: palegreen;
    border-radius: 5px;
}
.assignment img{
    width:200px;
    padding:10px;
    border: 2px solid black;
}
.assignment img:hover{
    border: 4px dashed grey;
}
h1 {
    color: grey;
    text-align:center;
}