body{
    background: paleturquoise;
    font-family:Arial, Helvetica, sans-serif;
}
.assignment{
    display:flex;
    padding:10px;
    margin:10px;
    background: palegreen;
}
.assignment img{
    width:200px;
    padding:10px;
}
h1 {
    color: grey;
    text-align:center;
}